.ch_pic {color:#72AFD2!important;padding:0px;margin-top:-10px;}
.overlay {position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.7);transition: opacity 500ms;visibility: hidden;opacity: 0;}
.overlay:target {visibility: visible;opacity: 1;}
.popup {margin: 70px auto;padding: 20px;background: #fff;border-radius: 5px;width: 30%;position: relative;transition: all 5s ease-in-out;}
.popup h2 {margin-top: 0;color: #333;font-family: Tahoma, Arial, sans-serif;}
.popup .close {position: absolute;top: 20px;right: 30px;transition: all 200ms;font-size: 30px;font-weight: bold;text-decoration: none;color: #333;}
.popup .close:hover {color: #06D85F;}
.popup .content {max-height: 30%;overflow: auto;}
#uploader {width: 100%;height:250px;border: 2px solid #D2D6DE;}
.file-pic {padding:10px;margin: 80px auto;width: 60%;}
.upfoot {padding:10px;float:right;}
.up_msg {font-size:12px;font-weight:bold;font-style: italic;text-align: center;color: #23527C;}
@media screen and (max-width: 700px){
  .box{width: 70%;}
  .popup{width: 70%;}
}
button#searchLoan, #btn-search {width: 80%;margin-top: 25px;height: 34px;font-size: 16px;background: #00c0ef;border-color: #00c0ef;}
a.home_icon img {width: 30px;padding-top: 10px;}
.home_icon {background: #01354c;}
div#loanForm {padding: 15px;background: rgba(236, 240, 245, 0.53);border: 1px solid #dedede;border-radius: 4px;margin-top: 15px;}
div#loanForm .thead-inverse {border-bottom: 1px solid #e2e2e2;}
.col-5 .col-sm-4 {width: 20%;}
.thead-title {font-weight: bold;margin-top: 15px;margin-bottom: 15px;}
div#actionable label {padding-right: 15px;text-transform: capitalize;}
div#actionable label input {margin-right: 5px;vertical-align: top;}
div#actionable {margin-bottom: 2px;}
.input-group.date .input-group-addon {background: #ebecef;border-radius: 0 4px 4px 0;}
div#loanForm .btn-success,div#loanForm .btn-danger {margin-top: 15px;border-radius: 4px;padding: 5px 20px !important;font-size: 16px;margin-left: 15px;}
form#recordForm .panel-title a {color: #fff;}
.reply-section {height: 200px;border-radius: 5px;}
.reply-section .comments {padding: 10px;}
.reply-section .comments:nth-child(even) {background: #dee1e4;}
.reply-section .comments div {display: inline-block;padding-right: 10px;}
.btn.btn-follow {background: #999d9e;color: #fff;margin-left: 15px;position: relative;}
.btn.btn-follow span.notify {position: absolute;top: -8px;right: -8px;width: 20px;height: 20px;background: #e41313;border-radius: 40px;line-height: 20px;outline: none !important;}
* {outline: none !important;}
button.btn.btn-search {
    margin-left: 10px;
    background: #00c0ef;
    color: #fff;
}
select.form-control.search {
    margin-left: 10px;
    height: 30px;
    padding: 0 15px;
    text-align: left;
    padding-left: 6px;
}

.custom-accord .panel-default>.panel-heading {
    background: #eeeef9;
    border: 0;
    position: relative;
}

.custom-accord .panel-default:nth-child(even)>.panel-heading {
    background: lavender;
}

.custom-accord .panel-default:nth-child(even) {
    border-color: #ddddf7;
}

.custom-accord .panel-default {
    border-color: #e1e1ef;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgb(226, 226, 226);
}

.show-head label {
    font-weight: bold;
    font-size: 14px;
}

.show-head p {
    font-size: 15px;
}

.custom-accord .panel-default>.panel-heading a {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 24px;
    height: 28px;
    color: transparent;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: #d7dee8;
}

.custom-accord .panel-default>.panel-heading a:before {content: "\f106";display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color: #287ea7;position: absolute;line-height: 22px;text-align: center;left: 0;right: 0;font-size: 22px;top: 0;transition: all .3s ease;}

.custom-accord .panel-default>.panel-heading a.collapsed:before {
    transform: rotate(180deg);
    top: 4px;
}

.modal-content {
    background-color: #fdfdfd;
    border-radius: 6px !important;
}

.custom-accord .panel-body p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.custom-accord .panel-body p b {
    padding-right: 10px;
    color: gray;
    font-weight: 600;
}

.comment-wrap {
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    overflow: hidden;
    padding: 6px;
    background: #fbfbfb;
    max-height: 100px;
    overflow: auto;
}

.comment-wrap .comments:nth-child(odd) {
}

.custom-accord .panel-body .comments p {
    font-size: 14px;
    margin: 4px 0;
    font-weight: normal;
    background: lavender;
    padding: 6px 10px;
    border: 0;
    border-radius: 0px 4px 4px 4px;
    margin-left: 16px;
    position: relative;
    display: inline-block;
}

.comment-wrap .comments:nth-child(even) {
    text-align: right;
}

.comment-wrap .comments:nth-child(odd) p:before {content: "";position: absolute;border-width: 12px 0 0 15px;border-style: solid;border-color: lavender transparent transparent;left: -15px;top: 0;}

.comment-wrap .comments:nth-child(even) p:after {content: "";position: absolute;border-width: 12px 15px 0 0;border-style: solid;border-color: #e4e4ea transparent transparent;right: -15px;top: 0;}

.comment-wrap .comments:nth-child(even) p {
    margin-left: 0;
    margin-right: 16px;
    background: #e4e4ea;
    border-radius: 4px 0px 4px 4px;
}
.comment-wrap::-webkit-scrollbar,.fc-time-grid-container::-webkit-scrollbar {width: 4px;background: #eee;border-radius: 10px;}
.comment-wrap::-webkit-scrollbar-track,.fc-time-grid-container::-webkit-scrollbar-track {-webkit-border-radius: 10px;border-radius: 0px;}
.comment-wrap::-webkit-scrollbar-thumb,.fc-time-grid-container::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 2px;background: rgba(0, 0, 0, 0.6);width: 10px;}
.comment-wrap::-webkit-scrollbar-thumb:window-inactive,.fc-time-grid-container::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0); }

.custom-accord .panel-body {
    padding: 10px;
}

.custom-accord .panel-body a {
    display: block;
    text-align-last: right;
    margin-left: -5px;
}

.custom-accord .panel-body a .btn-info {
    text-transform: uppercase;
    border-radius: 20px;
    padding: 5px 10px !important;
    width: auto;
    background: #8a8aa0;
    border: 0;
}
.pl{
    padding-left: 0;
}
label.comm {
    margin-top: 30px;
    margin-left: 20px;
    font-style: italic;
    font-size: 16px;
    color: gray;
    border-bottom: 4px double #ddd;
}

.time{display: block;font-size: 10px;padding: 5px 18px;color:gray;}
.table-striped>tbody>tr:nth-of-type(odd) {background-color: #eeeef9;}
h4.panel-title b{color:white !important;}
h4.panel-title a, h4.panel-title a:hover, h4.panel-title a:active{color:white !important;}
.table th, .table td{padding: 3px 10px !important;}
.table th{color: #00c0ef;}
.floatL{float:left;}
.floatR{float:right;}
.mR5{margin-right:10px;}
/* #myModal2 .modal-content, #myModal1 .modal-content{max-height: 600px;overflow-x: hidden;overflow-y: scroll;} */
.modal-content{max-height: 600px;overflow-x: hidden;overflow-y: auto;}